* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#button {
    padding: 15px;
}

#button li {
    display: inline;
}

#button li a {
    font-family: 'Palatino Linotype';
    padding: 20px;
    color: #000000;
}

#button li:hover {
    background-color: #B7D154;
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;
}

#button ul {
    display: none;
    position: relative;
    top: 24px;
    left: 0;
    margin: 0;
    padding: 0;
    background: #FFFFFF;
}

#button ul li{
    display:block !important;
}

#button li:hover ul{
    display:block;
}

#button li {
    margin: 0 1px;
    width: 98px;
    min-height: 19px;
    text-align: center;
    background: #BBB;
    list-style: none;
    padding: 2px 0;
}

#menuh {
    background-color: #A4C131;
}

.icon-menu{
    cursor:pointer;
}

#check{
    display: none;
}

#check:checked ~ .menu{
    width: 420px;
}

#check:checked ~ .auto-style4 {
    width: 72%;
    margin-left: 28%;
    transition: all 500ms cubic-bezier(1,0,0,1);
    transition-timing-function: cubic-bezier(1,0,0,1);
    overflow: hidden;
}

#check2 {
    display: none;
}

#check2:checked ~ .menu2 {
    width: 460px;
    margin-left: 420px;
}

#check2:checked ~ .auto-style4 {
    width: 42%;
    margin-left: 58%;
    transition: all 500ms cubic-bezier(1,0,0,1);
    transition-timing-function: cubic-bezier(1,0,0,1);
    overflow: hidden;
}

.menu {
    position: fixed;
    top: 149px;
    width: 0px;
    height: 517px;
    background-color: #05172F;
    transition: all 500ms cubic-bezier(1,0,0,1);
    transition-timing-function: cubic-bezier(1,0,0,1);
    overflow: hidden;
}

.menu li{
    padding: 16px;
    color: white;
    display: block;
    width: 420px;
}


.menu2 {
    position: fixed;
    top: 149px;
    width: 0px;
    height: 517px;
    background-color: #05172F;
    transition: all 500ms cubic-bezier(1,0,0,1);
    transition-timing-function: cubic-bezier(1,0,0,1);
    overflow: hidden;
    color: white;
}

.menu2 li {
    padding: 16px;
    color: white;
    display: block;
    width: 420px;
}

/*body*/
#body {
    position: absolute;
    right: 0px;
    min-height: 300px;
    left: 170px;
}

.auto-style3 {    
    height: 490px;
    width: 100%; /* whichever width you want */
}

.auto-style4 {
    width: 100%;
    transition: all 500ms cubic-bezier(1,0,0,1);
    transition-timing-function: cubic-bezier(1,0,0,1);
}
.auto-style5 {
    text-align: center;
    font-family: "Bookman Old Style";
    font-size: 48pt;
    background-color: #A4C131;
    color: white;
}

.auto-style6 {
    text-align: center;
    color: #F2F2F0;
    font-family: "Palatino Linotype";
    background-color: #99BF14;
    color: white;
}


#footerBar {
    height: 76px;
    width: 100%;
    text-align: right;
    padding-right: 15px;
    color: #FFFFFF;
    font-size: x-small;
    font-family: "Palatino Linotype";
    background-color: #05172F
}