<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="db_parkingspotsConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\db_parkingspots.mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ParkingSpotsServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:55802/ParkingSpotsService.asmx"
        binding="basicHttpBinding" bindingConfiguration="ParkingSpotsServiceSoap"
        contract="ServiceReference1.ParkingSpotsServiceSoap" name="ParkingSpotsServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>